# Node
node_modules
.pnpm-store

# Vite
.vite
dist
dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Compiled Vite config outputs
vite.config.js
vite.config.d.ts
